@import "../../sass/abstracts/variables";

.resultContainer {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 2;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  background-color: $color-white-100;
  border: 1px solid $color-grey-500;
}

.foundData {
  height: 70vh !important;
  overflow-y: scroll;
}
